

.race-list-item.highlighted {
    background-color: #ffffff; 
    color: #000000;
}

.race-details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
}

.race-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 2px solid #dee2e6; 
    margin-bottom: 20px;
  }