

.Menu {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff0000;
  padding: 0.75rem 1.5rem;
  z-index: 100;
}

img {
  width: 40px;
  height: 40px;
}
img:hover {
  cursor: pointer;
}


.game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.champion-header {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}


.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 0.75rem; 
  background-color: transparent;
  color: white;
  padding: 1.25rem; 
  z-index: 99;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  -webkit-transition: -webkit-box-shadow 0.5s ease; 
  transition: -webkit-box-shadow 0.5s ease; 
  -o-transition: box-shadow 0.5s ease; 
  transition: box-shadow 0.5s ease; 
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  padding-bottom: 1.25rem;
  max-width: 300px;
  overflow-y: auto; 


}


.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; 
  overflow-y: auto; 

}

.sidebar::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  display: none;
}

.instructions-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions-box {
  background-color: #ff0000;
  color: white;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.instructions-box p {
  margin-bottom: 20px;
}

.instructions-box button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.instructions-box button:hover {
  background-color: #0056b3;
}

/* Conditional styles for timer */
.time span {
  color: #00FF00; 
}

.time span[style*='color:#FFFF00'] {
  color: #FFFF00; 
}

.time span[style*='color:#FF0000'] {
  color: #FF0000; 
}

